<html>

<head>
    <meta charset="UTF-8">
    <title>Banaj Matijosa</title>
</head>

<body>
    <input type="button" value="Banaj Matijosa">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $("input").click(function(e) {
            $("p").remove();
            $.post("./banajMatijosa", "", function (response) {
            if (response.success == "Ok")  {
                $("body").append(`<p style="color: green;">Bravo matijos je pobrav bana</p>`);
            } else  {
                $("body").append(`<p style="color: red;">Mortik je vec banati</p>`);
            }
        }, 'json')
            .fail(function (x) {
                $("body").remove("p");
                $("body").append(`<p style="color: red;">Nekaj ne dela</p>`);
            });
        });
    </script>    
</body>

</html>