<html>

<head>
    <meta charset="UTF-8">
    <title>Svetski editor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./edit">Edit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./upload">Upload</a>
                </li>
                <li class="nav-item">
                    <input type="button" value="Get Queue" class="queue btn btn-danger btn-lg">
                </li>
                <li class="nav-item">
                    <input type="button" value="Skip" class="skip btn btn-info btn-lg">
                </li>
                <li class="nav-item">
                    <input type="button" value="Stop" class="stop btn btn-info btn-lg">
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 logout" action="./logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        </div>
    </nav>

    <div class="deni_tosta" style="position: absolute; top: 69px; right: 0; min-width: 300px; z-index: 10;"></div>

    <!-- ayy lmao -->
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Neznam kaj da tu denem</th>
                </tr>
            </thead>
        <tbody>
        {{#each paths}}
        <tr>
            <th scope="row">{{counter @index}}</th>
            <td>
                <div class="row">
                <button type="button" class="btn btn-primary btn-lg col-sm-10" data-toggle="modal" data-target="#editDisplayNameModal-{{counter @index}}"
                    data-full-file-name="{{full_file_name}}" data-display-name="{{display_name}}">
                    <span class="fa fa-pencil-square-o"></span>
                    {{display_name}}
                </button>
                
                <button type="button" class="btn btn-danger btn-lg col col-sm-1" data-toggle="modal" data-target="#removeModal-{{counter @index}}"
                    data-full-file-name="{{full_file_name}}" data-display-name="{{display_name}}">
                    <span class="fa fa-trash-o"></span>
                    </button>
                </div>

                <!-- edit -->
                <div class="modal fade editModal" id="editDisplayNameModal-{{counter @index}}" tabindex="-1" role="dialog" aria-labelledby="editDisplayNameModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form action="./rename" method="POST">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="display_name" class="col-form-label">Display Name: </label>
                                    <input type="hidden" class="form-control" id="full_path" value="{{full_file_name}}" name="value">
                                    <input type="text" class="form-control" id="display_name" name="new_display_name">
                                </div>
                            </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondery" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- remove -->
                <div class="modal fade removeModal" id="removeModal-{{counter @index}}" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Remove {{display_name}} ?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="./remove" method="POST">
                            <input type="hidden" class="form-control" id="full_path" value="{{full_file_name}}" name="value">
                            <input type="hidden" class="form-control" id="display_name" value="{{new_display_name}}" name="new_display_name">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondery" data-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-danger" value="Remove">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            </td>
        </tr>
        {{/each}}
        </tbody>
        </table>
    </div>
    <!-- ayy lmao -->



    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="./static/js/edit.js"></script>
    <script src="./static/js/index.js"></script>

</body>

<footer>
    <a class="navbar-brand" href="./volimoZnidarica">
        <img src="./static/favicon.ico" width="5" height="5" class="d-inline-block align-top" alt="">
    </a>
</footer>

</html>