.grid-item:hover .item-remove {
    visibility: visible;
}

.item-remove {
    padding: 6px;
    background-color: #ff0400;
    visibility: hidden;
    position: absolute;
    top: 0.5px;
    right: 0.5px;
}

.item-remove:hover {
    transition-duration: 0.2s;
    background-color: #d10502;
}

.item-remove:hover .grid-item:hover {
    pointer-events: none;
}

.fa-trash-o {
    color: white;
}