.grid-item:hover .item-remove {
    visibility: visible;
}

.item-remove {
    padding: 6px;
    margin-top: 3px;
    margin-right: 3px;
    background-color: #ff0400;
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.item-remove:hover {
    transition-duration: 0.2s;
    background-color: #d10502;
}

.item-remove:hover .grid-item:hover {
    pointer-events: none;
}

.fa-trash-o {
    color: white;
}