.grid-container {
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    background-color: #eeeeee;
    margin: 10px;
}

.grid-item {
    background-color:#b5e2fc;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    margin: 5px;
    text-align: center;
	position: relative;
}

.grid-item:hover {
    transition-duration: 0.2s;
    background-color:#dcedf7;
}